.app_violet_theme {
    --bg-color: #FAF4FB;
    --inverted-bg-color: #94209c;
    --primary-color: #94209c;
    --secondary-color: #3B197B;
    --inverted-primary-color: #FAF4FB;
    --inverted-secondary-color: #94209c;
}
